build/
*.map
baserom.z64
*.pyc
__pycache__/
.splat_cache/
*.z64
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-ar.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-as.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-ld.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-nm.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-size.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-gprof.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-strip.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-ld.bfd.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-ranlib.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-c++filt.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-elfedit.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-objcopy.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-objdump.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-readelf.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-strings.1.gz
tools/mips-binutils/usr/share/man/man1/mips-linux-gnu-addr2line.1.gz
